@import "tailwindcss";

/* ==========================================================================
   OVERRIDE REACT-BIG-CALENDAR (ESTILO EDITORIAL)
   ========================================================================== */

/* Tipografía general del calendario */
.rbc-calendar {
  font-family: inherit;
}

/* Cabeceras de los días de la semana (LUN, MAR, MIE...) */
.rbc-header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.65rem;
  padding: 12px 0;
  font-weight: 600;
  color: #a3a3a3; 
  border-bottom: 1px solid #e5e5e5 !important;
}

/* El día actual (Hoy) en la vista mensual */
.rbc-day-bg.rbc-today {
  background-color: #fafafa;
}

/* La cabecera del día actual (El número) */
.rbc-month-view .rbc-today .rbc-date-cell  {
  font-weight: 700;
  color: #171717; 
}

/* Botones del Toolbar (Hoy, Atrás, Siguiente, Mes, Semana) */
.rbc-toolbar button {
  border-radius: 0 !important; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.70rem;
  color: #737373 !important; 
  border: 1px solid #e5e5e5 !important;
  box-shadow: none !important;
  padding: 6px 16px !important;
  transition: all 0.2s ease;
}

.rbc-toolbar button:hover {
  background-color: #f5f5f5 !important;
  color: #171717 !important;
}

/* Botón activo (ej: si estás en la vista "Mes") */
.rbc-toolbar button.rbc-active {
  background-color: #0a0a0a !important;
  color: white !important;
  border-color: #0a0a0a !important;
}

/* Líneas de la cuadrícula más sutiles */
.rbc-month-view, .rbc-month-row, .rbc-day-bg, .rbc-time-view, .rbc-time-header-content {
  border-color: #f5f5f5 !important; 
}

/*more*/
.rbc-show-more {
  background-color: transparent !important;
  color: #737373 !important; /* neutral-500 */
  font-family: ui-sans-serif, system-ui, sans-serif !important;
  font-size: 0.65rem !important;
  text-transform: uppercase !important;
  letter-spacing: 0.15em !important;
  font-weight: 600 !important;
  padding: 4px 8px !important;
  margin-top: 4px !important;
  display: block !important;
  text-align: left !important;
  border: none !important;
  transition: all 0.2s ease !important;
  text-decoration: none !important;
}

.rbc-show-more:hover {
  color: #171717 !important; /* neutral-900 */
  background-color: #f5f5f5 !important; /* neutral-100 para destacar ligeramente */
}

/*titulo*/
.rbc-toolbar-label{
    text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 12px 0;
  font-weight: 600;
  color: #000000;
}
